/* change display of collapsed menu */

@media (max-width: 947px) 
{
  .navbar-header 
  {
      float: none;
  }
  .navbar-left,.navbar-right 
  {
      float: none !important;
  }
  .navbar-toggle 
  {
      display: block;
  }
  .navbar-collapse 
  {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
      background: #ededed;
      z-index: 1000;
       width: 40%;
       max-width: 250px;
      float: right;
  }
  .navbar-fixed-top 
  {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse 
  {
      display: none!important;
  }
  .navbar-nav 
  {
      float: none!important;
      margin-top: 0px!important;
      margin-bottom: 0px!important;
  }
  .navbar-nav>li 
  {
      float: none;
      width: 100%;
      max-width: 250px;
  }
  .navbar-nav>li>a 
  {
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 2px solid #fff;
      width: 100%;
      max-width: 250px;
  }

   .navbar-nav>li:hover 
   {
		background: whitesmoke;
   }

   .nav .open>a, .nav .open>a:focus, .nav .open>a:hover
   {
   	border-bottom: 2px solid #777;
   }

   .navbar-nav>li .dropdown-menu
    {
		
		background:  #ededed;
    }

    .navbar-nav>li .dropdown-menu:hover
    {
		
		background:  #ededed;
    }

    .navbar-nav>li .dropdown-menu>li
    {
    	background:  #ededed;
    	margin-top: 0px!important;
      margin-bottom: 0px!important;
    }

    .navbar-nav .open .dropdown-menu > li:hover
    {
	
		background: whitesmoke;
    }

  

    .navbar-nav .open .dropdown-menu > li:hover > a
    {
		color: #1298e5!important;
    }

  .collapse.in
  {
      display:block !important;

  }
}

/* Screen 952 px */

@media (max-width: 952px) 
{     

    .content-servicios
    {

      height:100%;
      min-height: 140vh;
    }
}

/* Screen 767 px */

@media (max-width: 767px) 
{


    .navbar-nav .open .dropdown-menu > li:last-child > a
    {
		  border-bottom: 2px solid #777;
    }


    .intro  article > h2
    {
      font-size: 3.8rem;
    }

    .intro article .intro_banner
    {
      width: auto;
      height: 70vw;
      position: relative;
      top: 0px;
    }


    .intro article > h3
    {
        position: relative;
       top: 0px;
    }

    .content-nosotros article .thumb
    {
      max-width: 300px;
      max-height: 300px;
    }

    .content-servicios
    {

      height:100%;
      min-height: 230vh;
    }

    .content-mision
    {
      height: 100%;
      min-height: 110vh;
    }

    .content-mision .mision_banner
    {
      position: relative;
      top: 0px;
      height: 80vw;
   }


}

/* Mobil 415 px */


@media (max-width: 415px) 
{


    header .navbar-brand img
    {
      max-height: 40px;
      position: relative;
      bottom: 10px;
    }

     header .navbar 
     {
        font-size:2rem;
     }

     .content-nosotros
     {
      font-size: 2rem;
     }

     .content-nosotros article .thumb
    {
       width: 200px;
       height: 200px;
      border-radius: 50%;
    }
    

    .content-productos h2
    {
      font-size: 2.4rem;
    }


    .content-servicios
    {

      height:100%;
      min-height: 290vh;
    }
    

    .content-servicios h2
    {
        font-size: 2.4rem;
      position: relative;
      right: 20px;
    }

     .content-mision
     {
      font-size: 2rem;
     }


    footer .container article
    {
      font-size: 1.2rem;

    }


    .recaptcha-group .g-recaptcha
    {
      position: relative;
      left: 0;
    }
}

/* Mobil 320 px */


@media (max-width: 319px) 
{


    header .navbar-brand img
    {
      max-height: 30px;
      position: relative;
      bottom: 10px;
    }
    
     header .navbar 
     {
        font-size:1.5rem;
     }

      .content-productos h2
    {
      font-size: 2.0rem;
    }
    
       .content-servicios
    {

      height:100%;
      min-height: 240vh;
    }

      .content-servicios h2
    {
      font-size: 2.0rem;
    }



}

@media screen and (max-height: 575px){ #rc-imageselect, .g-recaptcha {transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;} }

@media screen and (max-width: 240px){
.g-recaptcha {
transform:scale(0.58);-webkit-transform:scale(0.58);
transform-origin:0 0;-webkit-transform-origin:0 0;
}}

@media screen and (min-width: 319px) and (max-width: 320px){
.g-recaptcha {
transform:scale(0.79);-webkit-transform:scale(0.79);
transform-origin:0 0;-webkit-transform-origin:0 0;
}}