/*
Theme Name: mipuntoauto
Theme URI: https://www.example.org
Author: Rafael Figueredo
Author URI: https://wordpress.org/
Description: 
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/


@import url('https://fonts.googleapis.com/css?family=Lora|Raleway:300|Source+Code+Pro:200');



	/* font-family: 'Source Code Pro', Arial, monospace; */

    /* font-family:  'Raleway',Complex, Helvetica, sans-serif; */

    /* font-family: 'Lora', Georgia, serif; */



/* Estilos Generales */
* 
{
	margin: 0;
	padding: 0;

    box-sizing: border-box;
}


.clearfix
{
	height: 0;
	width: 0;
}

section
{
	overflow: hidden;
	
}

/* Alineaciones Wordpress*/
.center
{ 
	text-align: center; 
}

img.center, img[align="center"]
{
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

.alignleft
{
	float: left;

}

img.alignleft, img[align="left"]
{
	float: left;
	margin:  2px 10px 5px 0px;
}

.alignright
{
	float: right;

}

img.alignright, img[align="right"]
{
	float: right;
	margin:  2px 0px 5px 10px;
}

.clear
{
	clear: both;
}

hr.clear
{
	clear: both;
	visibility: hidden;
	margin: 0px;
	padding: 0px;
	height: 0px;
}



/* Body */
/* Header */

header
{
	height:110px;
}

header > .navbar
{
	background: #ededed;
	color: #080707;
	font-family:  'Raleway',Complex, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 2.28rem;
	height: 80%;
	max-height: 122px;
	padding: 10px;
	padding-bottom: 10px;
	padding-top: 32px;
}

header > .navbar > .container-fluid
{
	width: auto;
	height: 100%;

}

header .navbar-brand
{
	
	height: 100%;
	display: block;

}

header .navbar-brand img
{	
	width: auto;
	height: 80%;
	max-height:60px ; 
	float: left; 
	position: relative;
	bottom: 10px;
}
header .navbar-collapse .navbar-nav li a:hover
{
	color: #1298e5;

}

.navbar-default .navbar-nav > .active > a
{
	background-color:#ededed;
}

.dropdown-menu > .active > a
{
	color: #333;
	background-color: transparent ;
}

header .navbar-collapse .navbar-nav li a:hover
{
	color: #fff;
}


/* intro section*/


.intro
{

	height: 100vh;
	width: 100%;
	background: #fff;
	margin-bottom: 100px;

}

.intro  article > h2
{
	font-family: 'Source Code Pro', Arial, monospace;
	font-weight: 100;
	font-size: 6.5rem;
	color: #0f6ca2;
	padding-bottom: 10px;

}


.intro  article .intro_banner
{	

	margin: 0 auto;
	width: auto;
	height: 30vw;
	position: relative;
	top: -10px;
}


.intro article > h1
{
	font-family: 'Source Code Pro', Arial, monospace;
	font-weight: 100;
	font-size: 3.5rem;
	color: #080707;
	padding-top: 20px;
	position: relative;
	top: 0px;

}

.content-nosotros
{	
	height: 100%;
	min-height: 120vh;
	width: 100%;
	background: #a4cde9;
	font-family:  'Raleway',Complex, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 2.8rem;
	padding-top: 80px;
}

.content-nosotros article 
{
	width:100%;
	height:100%;
	
}

.content-nosotros article img
{
	margin: 0 auto;
	
}

.content-nosotros article .thumb
{
	max-width: 400px;
	max-height: 300px;
}

.content-nosotros article .nosotros_banner
{
	width: auto;
	height: 60vw;
	position: relative;
	top: -20px;
}

.content-productos
{
	height: 100%;
	min-height: 130vh;
	width: 100%;
	background: #fff;
	font-family:  'Raleway',Complex, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 2.8rem;


}


.content-productos .container
{
	width: 100%;
	position: relative;
	top: 0px;

}


.content-productos h2
{
		display: inline-block;
		background:  #0f6ca2;
		color: #fff;
		font-weight: bold;
		text-align: right;
		padding:10px 20px;
		margin-bottom: 100px;
		width: 50%;
		height: 50px;
		position: relative;
		top: 0px;
		right: 16px;
}

.content-productos article
{
	height: 100%;
}

.content-productos article h3
{

	font-family:  'Raleway',Complex, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 2.8rem;	
}

.content-productos article img.thumb
{
	margin:0 auto ;
	width: 200px;
	height: 200px;
	border: 1px solid #ededed;
	
}

.content-productos article p
{
	opacity: 0;
}

.content-productos article:hover p
{
	opacity: 1;

}


.content-servicios
{
	height: 100%;
	min-height: 120vh;
	width: 100%;
	background: #f5f5f5;
	font-family:  'Raleway',Complex, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 2.8rem;
	overflow: visible;

}

.content-servicios .container
{
	width: 100%;
	position: relative;
	top: 90px;

}

.content-servicios h2
{
		display: inline-block;
		background:  #0f6ca2;
		color: #fff;
		font-weight: bold;
		text-align: right;
		padding:10px 20px;
		width: 50%;
		height: 50px;
		position: relative;
		top: -90px;
		right: 64px;
}

.content-servicios article 
{
	
	height: 100%;
}

.content-servicios article h3
{

	font-family:  'Raleway',Complex, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 2.8rem;	
}

.content-servicios article img.thumb
{
	margin:0 auto ;
	width: 200px;
	height: 200px;
	border: 1px solid #ededed;
}

.content-servicios article p
{
	opacity: 0;
}

.content-servicios article:hover p
{
	opacity: 1;
}

.content-mision
{
	height: 100vh;
	width: 100%;
	background: #a4cde9;
	font-family:  'Raleway',Complex, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 2.8rem;
	overflow: hidden;
}


.content-mision .mision_banner
{
	width: auto;
	height: 60vw;
	margin: 0 auto;
	position: relative;
	top: -100px;
}

.content-mision
{
	height: 100%;
	min-height: 100vh;
	width: 100%;
	background: #a4cde9;
	font-family:  'Raleway',Complex, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 2.8rem;
	overflow: hidden;
}

.content-contacto
{

	height: auto;
	width: 100%;
	background: #fff;
	font-family:  'Raleway',Complex, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 4rem;
	overflow: hidden;


	/* Linear vertical gradient */

	background: -webkit-linear-gradient(#ffffff, #95b0c5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffffff, #95b0c5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffffff, #95b0c5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffffff, #95b0c5); /* Standard syntax */

}


.content-contacto h2
{
	display: inline-block;
		background:  #0f6ca2;
		color: #080707;
		font-family: 'Lora', Georgia, serif;
		font-weight: bold;
		text-align: right;
		padding:10px 50px;
		width: 90%;
		height: 50px;
		position: relative;
		top: 0px;
		right: 64px;
}

.content-contacto article
{
	height: auto;
	padding: 0;
	margin: 0;
}

.content-contacto .panel
{
	background: #518293;
	height: 100%;
	margin:0 auto;
	padding: 0;

}

.content-contacto .panel-body
{
	height: 100%;
	margin:0 auto;
	padding: 0 15px;
}

.content-contacto .panel form 
{
	height: 100%;
	margin:0 auto;
	padding: 0;
}


.content-contacto .panel .form-group 
{
	margin:0 auto;
	margin-bottom: 0;
	padding: 0;
}


.content-contacto .panel .recaptcha-group 
{	
	margin:0 auto;
	margin-top:15px;
	padding: 0;
}

.content-contacto .panel .recaptcha-group .g-recaptcha
{	
	margin:0 auto;
	margin-top:15px;
	padding: 0;
	position: relative;
	left: 25%;
}

.content-contacto .panel form label
{
	font-family: 'Lora', Georgia, serif;
	font-weight: 500;
	font-size: 2.5rem;
	margin: 0 auto;
	padding: 0;
}

.content-contacto .panel form .error-wrapper 
{
	float: right;
}


.content-contacto .panel form .error-wrapper label
{
	color: #fff;
	font-weight: 100;
	font-size: 1.5rem;
	text-align: right;
}




.content-contacto .panel form .form-control
{
	margin: 0 auto;
	padding: 0;
}

.content-contacto .panel form .form-control.error
{
	border: 2px solid #ffcc00;
	background: #ffffe0;
}

.content-contacto .panel form textarea
{
	max-height: 100px;
}

.content-contacto .panel p 
{
	text-align: center;
}

.content-contacto span.wpcf7-not-valid-tip
{
	font-size: 0.6em;
}

.content-contacto div.wpcf7-validation-errors
{
	font-size: 0.5em;
	border-color: #fff;
	color: #fff;
}

.content-contacto div.wpcf7-mail-sent-ok 
{
	font-size: 0.5em;
	color: #fff;
	border-color: #fff;
 }
div.wpcf7 .wpcf7-form-control 
{ 
	display: block;
	max-width: 100%; 
}

div.wpcf7 .wpcf7-submit 
{
	display: block;
	width: 100%;
}


#rc-imageselect, .g-recaptcha {
display: inline; //the most important
}

#rc-imageselect{
max-width: 100%;
}

.g-recaptcha>div>div{
margin-top: 40px;
width: 100% !important;
text-align: center;
position: relative;
}

/* Aside */

/* Barra Social */

aside .social
{
	position: fixed;
	left: 0;
	top: 200px;
	z-index: 1000;
}



aside .social ul
{
	list-style: none;
}

aside .social ul li a
{
	display: block;
	text-decoration: none;
	text-align: right;
	width: 60px;
	height: 40px;
	line-height: 40px;
	background: #45aee8;
	margin-bottom: 10px;

	
}



aside .social ul li a:hover
{
	width: 210px;
}

aside .social ul li a span
{
	display: none;
	font-family:  'Raleway',Complex, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 2.5rem;
	color: #fff;

}

aside .social ul li a:hover span
{

	display: inline;
	
}

aside .social ul li a .icono
{
	height: 40px;
	width: 40px;
	float: right;
	font-size: 40px;
	color: #080707;
	padding: 0;
	margin: 0 10px;
}

aside .social ul li a:hover .icono
{

	color: #adf1f6;
}

aside .xs-social
{
	position: fixed;
	top: 130px;
	z-index: 1000;
}

aside .xs-social ul
{
	list-style: none;
}


aside .xs-social ul li 
{
	display: inline-block;
	float: left;
	margin-left: 5px;
	
}

aside .xs-social ul li a
{
	display: block;
	text-decoration: none;
	text-align: right;
	width: 50px;
	height: 30px;
	line-height: 30px;
	background: #45aee8;
	margin-bottom: 10px;
	
	
}

aside .xs-social ul li a .icono
{
	height: 30px;
	width: 30px;
	float: right;
	font-size: 30px;
	color: #080707;
	padding: 0;
	margin: 0 10px;
}

aside .xs-social ul li a:hover .icono
{

	color: #adf1f6;
}



 /* Scroll Up button */

aside .scrollup{

	width:40px;
	height:40px;
	border-radius: 50%;
	background-image: url(img/icon_top.png);
	position: fixed;
	bottom: 5px;
	right:10px;
	opacity: .7;

}


/* Footer */
footer
{
	background: #95b0c5;
	width: 100%;
}



footer .container article
{
	background: #62635e;
	color: #fff;
	font-family: 'Lora', Georgia, serif;
	font-weight: bold;
	font-size: 1.6rem;
	height: 100px;
	width: 100%;
	margin: 70px auto;
	margin-bottom: 50px;
}

footer .container article p
{
	text-align: center;
	padding: 10px;
}




