@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?fo5v51');
  src:  url('fonts/icomoon.eot?fo5v51#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fo5v51') format('truetype'),
    url('fonts/icomoon.woff?fo5v51') format('woff'),
    url('fonts/icomoon.svg?fo5v51#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: "\ea20";
}
.icon-facebook:before {
  content: "\ea75";
}
.icon-instagram:before {
  content: "\e99b";
}
.icon-twitter:before {
  content: "\e99e";
}
.icon-youtube:before {
  content: "\e9a2";
}
